.u-cabeceraSeccion{
    
}
.u-tituloSeccion{
    height: 60px;
    line-height: 60px;
    background: #00378A;
    color: white;
    font-style: italic;
    padding-left: 15px;
}
.u-tituloSeccion::before{
    display: inline-block;
    content: "";
    height: 25px;
    width: 130px;
    background-image: url(../img/f2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
body{
    background: whitesmoke;
}
.Header{
    background-image: url(../img/bg-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    height: 100vh;
}
.Header-slogan{
    display: block;
    color: #00378A;
    font-size: 32px;
    text-align: center;
}
.container-slogan{
    display: block;   
}
.header-logo{
    display: block;
    height: 60vh;
    width: auto;
    margin: 0px auto;
    padding-top: 15vh;
}
.MainMenu{
    position: absolute;
    top: 0;
    left: 0;
}
.MainMenu-img{
    width: 100px;
    height: auto;
}
.MainMenu-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.MainMenu-item{
    
}
.MainMenu-link{
    color:white;
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
}
@media(max-width:500px){
    .MainMenu-link{
        font-size: 20px;
    }
}
.nosotros-imagenCabecera{
    width: 100%;
    height: auto;
}
.nosotros-informacion{
    text-align: justify;
    padding: 10px 15px;
    color: #00378A;
}
.nosotros-valores{
    display: flex;
    justify-content: space-around;
}
@media(max-width:500px){
    .nosotros-valores{
        flex-direction: column;
    }
}
.nosotros-vision{
    padding: 15px;
}
.nosotros-vision h2{
    text-align: center;
    height: 60px;
    background: #00378A;
    line-height: 60px;
    color: white;
    font-style: italic;
}
.nosotros-vision h2::after{
    display: inline-block;
    content: "";
    height: 18px;
    width: 60px;
    background-image: url(../img/f2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.nosotros-vision p{
    text-align: justify;
    background: #BF0310;
    color: white;
    padding: 5px;
}
.nosotros-mision{
    padding: 15px;   
}
.nosotros-mision h2{
    text-align: center;
    height: 60px;
    background: #00378A;
    line-height: 60px;
    color: white;
    font-style: italic;
}
.nosotros-mision h2::before{
    display: inline-block;
    content: "";
    height: 18px;
    width: 60px;
    background-image: url(../img/f2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.nosotros-mision p{
    text-align: justify;
    background: #BF0310;
    color: white;
    padding: 5px;
}
.servicios-container{
    display: flex;
}

.servicios-senales{
    background-image: url(../img/senales.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    border: 1px solid whitesmoke;
}
.servicios-senales p,h2{
    margin: 0;
    padding: 0;
}
.senales-container{
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
}
.servicios-semaforizacion{
    background-image: url(../img/semaforizacion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 602px;
    border: 1px solid whitesmoke;
}
.servicios-semaforizacion p,h2{
    margin: 0;
    padding: 0;
}
.semaforizacion-container{
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
}
.servicios-pintura{
    background-image: url(../img/pintura.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    border: 1px solid whitesmoke;
}
.servicios-pintura p, h2{
    margin: 0;
    padding: 0;
}
.pintura-container{
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
}
@media(max-width:600px){
    .servicios-container{
        justify-content: center;
        flex-direction: column;
    }
    .servicios-semaforizacion{
        height: 300px;
    }
}
.Contacto{
    background: #888888;
}
.contacto-imagen{
    display: block;
    width: 10%;
    height: auto;
    margin: auto;
}
.contacto-formulario{
    padding: 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 50%;
    margin: auto;  
}
@media(max-width:500px){
    .contacto-imagen{
        width: 20%;
    }
    .contacto-formulario{
        width: 90%;
    }
}
.contacto-formulario-item{
    background-color: #333;
    border:none;
    border-bottom: 15px solid black;
    height: 15px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-style: italic;
    padding: 15px;
    font-size: 14px;
}
.contacto-formulario-texto{
    background-color: #333;
    border:none;
    border-bottom: 15px solid black;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-style: italic;
    padding: 15px;
    font-size: 14px; 
}
.contacto-formulario-submit{
    height: 50px;
    line-height: 50px;
    color: black;
    border:none;
    border-radius: none;
    width: 40%;
    margin: 15px auto;
}
@media(max-width:600px){
    .contacto-formulario-submit{
        width: 100%;
        color: black;
    }
}
.map{
    height: 400px;
}
.Footer{
    background: #BF0310;
    color: white;
    padding: 40px;
}
.Footer-container{
    display: flex;
    justify-content: space-between;
}
@media(max-width:500px){
    .Footer-container{
        justify-content: center;
        flex-direction: column;
    }
}
.Footer-itemInfo{
    text-align: center;
}
.Footer-developer{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.wow:first-child {
    visibility: hidden;
}
@media(max-width:400px){
    .Footer{
        font-size: 14px;
    }
}