<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Somos una empresa ubicada en la ciudad de Guadalupe, Nuevo León, especializada en el campo de la señalizacion vial, semaforización, asi como también en publicidad.  En Señales Viales y Publicidad, nos complacemos en atender a todos nuestros clientes con la mejor actitud de servicio, siendo proveedores de un producto de primera clase, con precios accesibles e inmejorables. Trabajamos con material de la mejor calidad, tambien contamos con un equipo de trabajo siempre dispuesto a producir productos qe excedan las expectativas de cada cliente." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Señales Viales</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/normalize.css"/>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <header class="Header">
        <nav class="MainMenu">
            <ul class="MainMenu-list">
                <li class="MainMenu-item">
                    <a href="#" class="MainMenu-link">Home</a>
                </li>
                <li class="MainMenu-item">
                    <a href="#" class="MainMenu-link">Nosotros</a>
                </li>
                <li class="MainMenu-item">
                    <a href="#" class="MainMenu-link">Servicio</a>
                </li>
                <li class="MainMenu-item">
                    <a href="#" class="MainMenu-link">Contacto</a>
                </li>
            </ul>
        </nav>
        <img src="..." alt="imagen-logotipo" />
        <span class="Header-slogan">Dalo por hecho...</span>
    </header>
    <section class="Nosotros">
        <header class="u-cabeceraSeccion">
            <h1 class="u-tituloSeccion">Nosotros</h1>
            <img src="..." alt="header-nosotros">
        </header>
        <article>
            <p>Somos una empresa ubicada en la ciudad de Guadalupe, Nuevo León, especializada en el campo de la señalizacion vial, semaforización, asi como también en publicidad.  En Señales Viales y Publicidad, nos complacemos en atender a todos nuestros clientes con la mejor actitud de servicio, siendo proveedores de un producto de primera clase, con precios accesibles e inmejorables. Trabajamos con material de la mejor calidad, tambien contamos con un equipo de trabajo siempre dispuesto a producir productos qe excedan las expectativas de cada cliente.</p>
        </article>
        <article>
            <h2>Mision</h2>
            <p>Comprometernos con nuestros clientes a darles soluciones de calidad, efectivas en menos tiempo y a un precio justo. Crecer dia a dia, tanto individualmente como parte de la empresa.</p>
        </article>
        <article>
            <h2>Visión</h2>
            <p>Ser una empresa lider en el campo de la señalizacion vial, cumpliendo con normas y estandares de calidad internacional, excediendo las expectativas de nuestros clientes.</p>
        </article>
    </section>
    <section>
        <header>
            <h1>Servicios</h1>
        </header>
        <article>
            <h2>Semaforización</h2>
            <p>Manejamos lo mas actual en tecnologia vial e inovamos dia con dia para estar a la vanguardia de las necesidades de cada cliente.</p>
        </article>
        <article>
            <h2>Señalizacion</h2>
            <p>Fabricamos señaletica para exteriores e interiores, con materiales de alta calidad y durabilidad, asi como tambien la instalacion de estas.</p>
        </article>
        <article>
            <h2>Pintura Vial</h2>
            <p>Aplicacion de pintura para asfalto en todas sus variantes ya sea tipo tráfico o thermoplastica con las herramientas adecuadas.</p>
        </article>
    </section>
    <section>
        <header>
            <h1>Contacto</h1>
        </header>
        <img src="..." alt="contactoImagen">
        <input type="text" placeholder="Nombre *" />
        <input type="tel" placeholder="Teléfono *" />
        <input type="email" placeholder="Email *" />
        <textarea placeholder="Mensaje *"></textarea>
    </section>
    <div>
    <p>Mapa</p>
    </div>
    <footer>
        <article>
            <h3>Dirección</h3>
            <p>Calle Valencia Guadalupe Nuevo Leon</p>
        </article>
        <article>
            <h3>Email</h3>
            <p>senalesviales_efrain@hotmail.com / svyp_cruz@hotmail.com</p>
        </article>
        <article>
            <h3>Teléfono</h3>
            <p>(81) 1877-4888 / (81) 2126-4466</p>
        </article>
        <span>Aviso de Privacidad</span>
        <span>Desarrollado por Grafmex</span>
    </footer>
    <script src=""></script>
</body>
    
</html>